
# Created by https://www.gitignore.io/api/jabref
# Edit at https://www.gitignore.io/?templates=jabref

### JabRef ###
# JabRef - https://www.jabref.org/
*.bak
*.sav

# End of https://www.gitignore.io/api/jabref